@font-face {
  font-family: 'Etna Free Font';
  src: url('./assets/font/etna-free-font.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    font-family: 'Etna Free Font', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
    background-color: #FFFFFF;
}